<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      width: 350px;
      height: 500px;
    }
  </style>
</head>

<body style="align-items: center; align-content: center;  margin-left: 35%;">
  <section class="hero is-success" style="height: 50px; margin-top: 7px;">

    <h1 class="title" style="text-align: center; margin-top: 7.5px; font-size: 17px;">
      Attendace Managment System For Teachers
    </h1>

  </section>
  <div class="card" style=" width: 350px;
        height: 575px;">
    <div class="card-image">
      <img
        src="https://lh3.googleusercontent.com/proxy/j1VS_suaQohPypnXGWSq-kl69Gk5bjlGLdI5A6TOH3skKc5Uzh77MVeilb-2kyzheeEAr7eZIHU2Ailn8cPXAOMluLX7ITM8nJkOclBEQpePwMBim1cfK6fsu9cgbwLOsDAc-LjskVxpOJg"
        style="width: 350px; height: 348px;">
      <span class="card-title" style="color: black;">AMS by Shivansh</span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>

    <div class="card-content">
      <h2>Kindly Enter The Information</h2>
      <br>
      <p>Only for use by teachers, please enter code to authenticate. If code is incorrect, systems will be informed!</p>
      <br>
      <p style="font-size: 10px;">All Rights Reserved To AMS</p>
    </div>
  </div>


  <div class="row">


    <div class="input-field col s12">

      <form action="/links" method="POST">
        <i class="material-icons prefix">account_circle</i>
      <input placeholder="Name" name="name" type="text" class="validate">
      <i class="material-icons prefix">account_circle</i>
      <input placeholder="Class Link" name="link" type="text" class="validate">
      <i class="material-icons prefix">account_circle</i>
      <input placeholder="Subject" name="subject" type="text" class="validate">
      <i class="material-icons prefix">account_circle</i>
      <input placeholder="Date" name="date" type="date" class="validate">
      <i class="material-icons prefix">account_circle</i>
      <input placeholder="Code" name="code" type="text" class="validate">

  <button class="btn waves-effect waves-light" type="submit" name="action" id="submitB"
  style="width: 50%; margin-left: 25%;">Submit
  <i class="material-icons right">send</i>
</button>

    </form>

    </div>

  </div>




  <script src="popup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>